*{margin:0;padding:0;box-sizing:border-box;}
*::after, *::before{box-sizing:border-box;}
body{
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  overflow: hidden;
}
.code-wrapper{
  width:100%;
  flex:1;
  height: 50%;
  padding:15px;
}
#code{
  height: 100%;
  overflow: hidden;
}
.preview-wrapper{
  width:100%;
  flex:1;
  height: 50%;
}
.operator-wrapper{
  position: absolute;
  top:0;
  right:0;
}
.button{
  width:80px;
  height:40px;
  line-height: 20px;
  padding:10px;
  background-color: #ddd;
  margin:20px;
  text-align: center;
}
.button.active{
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
}